.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        font-size: 1.3rem;
        font-weight: bold;
    }

    hr {
        color: #333;
        width: 95%;
    }

    ul {
        li {
            list-style: none;
            a{
                color: #3f3f3f;
                text-decoration: none;
                align-items: center;
                justify-content: center;
            }
        }
    }
}